#threesixty {
  position: absolute;
  width: 960px;
  height: 540px;
}

#threesixty_images {
  display:  none;
}

#threesixty li {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
}

.current-image {
  visibility: visible;
  width: 100%;
}

.previous-image {
  visibility: hidden;
  width: 0;
}
